.ticker {
    width: 100%;
    height: 711px; /* Height of 3 items */
    overflow: hidden;
  }
  
  .tickerContent {
    display: flex;
    flex-direction: column;
    animation: tickerUp 20s linear infinite;
  }
  
  .tickerDown .tickerContent {
    animation: tickerDown 20s linear infinite;
  }
  
  .tickerItem {
    flex: 0 0 auto;
    width: 237px;
    height: 237px;
    position: relative;
    margin-bottom: 10px;
  }
  
  .tickerItem:hover {
    opacity: .4
  }
  
  @keyframes tickerUp {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  
  @keyframes tickerDown {
    0% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  