.mapContainer {
    width: 50%; /* Default width for larger screens */
    height: 500px; /* Fixed height */
    /* Media query for mobile screens */
    @media (max-width: 600px) {
      width: 80%; /* Full width for mobile screens */
    }
  }